<main class="p-10">
    <h2 class="text-3xl text-blue-500 mb-8 text-center"><?= $article['id'] ? 'Edit ' : 'New ' ?>Article</h2>
	<?php if ( $errors['issue'] ): ?>
      <p class="error text-red-500 bg-red-200 p-5 rounded-md"><?= $errors['issue'] ?></p>
	<?php endif ?>
    <form action="article.php?id=<?= e( $id ) ?>" method="POST" enctype="multipart/form-data" class="grid gap-6 mb-6 md:grid-cols-2 md:w-full">
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 pt-2" for="title">Title</label>
            <input type="text" id="title" name="title" value="<?= e( $article['title'] ) ?>"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <span class="text-red-500"><?= $errors['title'] ?></span>
            <label class="block mb-2 text-sm font-medium text-gray-900 pt-2" for="summary">Summary</label>
            <textarea id="summary" name="summary"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"><?= e( $article['summary'] ) ?></textarea>
            <span class="text-red-500"><?= $errors['summary'] ?></span>
            <label class="block mb-2 text-sm font-medium text-gray-900 pt-2" for="content">Content</label>
            <textarea id="content" rows="10" name="content"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"><?= $article['content'] ?></textarea>
            <span class="text-red-500"><?= $errors['content'] ?></span>
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 pt-2" for="category">Category</label>
            <select id="category" name="category"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500">
                <option>select category</option>
							<?php foreach ( $categories as $category ): ?>
                  <option value="<?= $category['id'] ?>" <?= $category['id'] === $article['category_id'] ? 'selected' : '' ?>><?= e( $category['name'] ) ?></option>
							<?php endforeach; ?>
            </select>
            <span class="text-red-500"><?= $errors['category'] ?></span>
            <label class="block mb-2 text-sm font-medium text-gray-900 pt-2" for="user_id">User</label>
            <select id="user_id" name="user"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500">
                <option>select user</option>
							<?php foreach ( $users as $user ): ?>
                  <option value="<?= $user['id'] ?>" <?= $user['id'] === $article['user_id'] ? 'selected' : '' ?>><?= e( $user['forename'] ) ?> <?= e( $user['surname'] ) ?></option>
							<?php endforeach; ?>
            </select>
            <span class="text-red-500"><?= $errors['user'] ?></span>
					<?php if ( ! $article['filename'] ) : ?>
              <label class="block mb-2 text-sm font-medium text-gray-900" for="filename pt-2">Image</label>
              <input type="file" id="filename" accept="image/jpeg, image/png" name="filename"
                     class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
              <span class="text-red-500"><?= $errors['filename'] ?></span>
					<?php else: ?>
              <img src="../uploads/<?= e( $article['filename'] ) ?>" alt="<?= e( $article['alttext'] ) ?>" class="w-full h-auto"/>
              <span>Alt Text: <?= e( $article['alttext'] ) ?></span>
              <a href="alt-text-edit.php?id=<?= e( $article['id'] ) ?>" class="text-blue-500">Edit Alt Text</a>
              <a href="img-delete.php?id=<?= e( $article['id'] ) ?>" class="text-red-500">Delete Image</a>
					<?php endif; ?>
            <label class="block mb-2 text-sm font-medium text-gray-900 pt-2" for="alttext">Image Alt</label>
            <input type="text" id="alttext" name="alttext" value="<?= e( $article['alttext'] ?? '' ) ?>"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <span class="text-red-500"><?= $errors['alttext'] ?></span>
            <label class="block mb-2 text-sm font-medium text-gray-900 pt-2" for="published">Published</label>
            <input type="checkbox" id="published" name="published" <?= $article['published'] ? 'checked' : '' ?>
                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600">
        </div>
        <button type="submit" class="text-white bg-blue-500 p-3 rounded-md hover:bg-pink-600">Save</button>
    </form>
</main>