{% extends 'layout.html' %}

{% block title %}Reset Password{% endblock %}
{% block content %}
<main class="container w-auto mx-auto md:w1/2 flex justify-center flex-col items-center p-5">
    {% if sent == false %}
    <form action="forgot-password.php" class="w-full grid" method="POST">
        <label class="block mb-2 text-sm font-medium text-gray-900" for="email">Enter Your E-Mail Adress</label>
        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                id="email" name="email" type="email">
        <button class="text-white bg-blue-500 p-3 rounded-md hover:bg-pink-600 w-1/2 mt-4" type="submit">Send E-Mail to reset Password</button>
    </form>
    {% else %}
    <p class="text-center text-lg">An E-Mail has been sent to your E-Mail-Adress. Please check you inbox.</p>
    {% endif %}
</main>
{% endblock %}