{% extends 'layout.html' %}

{%block title%}{{title}}{% endblock %}
{%block content %}

{%endblock %}

{%block content %}
<main class="flex flex-wrap p-8" id="content">
    {% for article in articles %}
        <article class="w-full p-4 flex justify-between flex-col sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4">
            <a href="{{doc_root}}article.php?id={{article.id}}">
                {% if article.image_file %}
                <img src="{{doc_root}}uploads/{{article.image_file}}"
                    alt="{{article.image_alt}}">
                {% else %}
                <img alt="No image available" src="{{doc_root}}uploads/placehodler.jpg">
                {% endif %}
                <h2 class="text-blue-500 text-2xl pt-3 pb-1.5">{{article.title}}</h2>
                <p class="text-gray-500 pb-2.5">{{article.summary}}</p>
            </a>
            <p class="credit text-xs">
                Posted in <a class="text-pink-400" href="{{doc_root}}category.php?id={{article.category_id}}">
                    {{article.category}}</a>
                by <a class="text-pink-400" href="{{doc_root}}user.php?id={{article.user_id}}">
                    {{article.author}}</a>
            </p>
        </article>
        {% endfor %}
</main>
{%endblock %}